<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Student Registration form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="post">

    First Name: <input type="text" th:field="*{firstName}">

    <br><br>

    Last Name: <input type="text" th:field="*{lastName}">

    <br><br>

    Country:
    <select th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
    </select>

    <br><br>

    Favourite programming language:
    <input type="radio" th:field="*{favouriteLanguage}" th:value="Java">Java</input>
    <input type="radio" th:field="*{favouriteLanguage}" th:value="C">C</input>
    <input type="radio" th:field="*{favouriteLanguage}" th:value="Python">Python</input>

    <br><br>

    Favourite operating system:
    <input type="checkbox" th:field="*{favouriteSystems}"
           th:each="tempSystem : ${systems}" th:text="${tempSystem}" th:value="${tempSystem}">

    <br><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>