<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

    <h2> WELCOME TO THE HOME PAGE</h2>

    <hr>

    <p>
        User : <span sec:authentication="principal.username"></span>
        <br><br>
        Roles: <span sec:authentication="principal.authorities"></span>

    </p>

    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership meeting</a>
            (Access granted only to Managers)
        </p>
        <hr>
    </div>


    <div sec:authorize="hasRole('ADMIN')">
        <p>
           <a th:href="@{/systems}">Systems` data</a>
            (Access granted only to Admins)
        </p>
        <hr>
    </div>


    <form action="" th:action="@{/logout}" method="post">

        <input type="submit" value="logout"/>
    </form>
</body>
</html>